{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block title %}
    Final results

{% endblock %}

{% block inner_content %}
{#    TODO: INsert the following block here #}
      
    Three of these 20 rounds have been randomly selected in order to determine your earnings for these 10 rounds
    Rounds x, y, and z were chosen — Your earnings for these rounds were XXX ECUs, YYY ECUs, and ZZZ ECUs. Your total
    earnings in the session so far are XXX+YYY+ZZZ = VVV ECUs.


    <div class="card mb-3 ">
        <div class="card-header">

            <div class="card-body">

                <div class="mb-3">
                    <div>
                        You have played 20 rounds in Modules 1 and 2.
                    </div>

                    <div>
                        One of these {{ Constants.num_second_part }} rounds has been randomly selected in order
                        to determine your earnings for these {{ num_second_part.num_first_part }}rounds.
                    </div>
                    <div>
                        Round <strong>{{ paying_round2 }}</strong> was chosen.
                    </div>
                    <div>
                        Your earnings for this round are: <strong>{{ chosen_payoff }}</strong>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
