{% extends "global/PageExt.html" %}
{% load staticfiles otree %}

{% block inner_title %}
    Player 2 Example:


{% endblock %}

{% block inner_content %}
        [AFTER 10 ROUNDS OF PLAY]  Payoff Screen for both Players:

                You have played 10 rounds of this game
                One of these 10 rounds has been randomly selected in order to determine your earnings for these 10
    rounds
                Round 6 was chosen — Player 1’s earnings for this module of the experiment is 900 ECUs; Player 2’s
    earnings for this module of the experiment is 730 ECUs.

        


    {% next_button %}

{% endblock %}
